<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>名前検索</h4>
    <form action="/toilets/search" method="GET">
      <input type="text" id="name" name="name" />
      <input type="submit" value="検索" />
    </form>
  </body>
</html>
