<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
<h3><%= title %></h3>
<form method="POST" action="/toilets/">
    <div>
        <label for="name">トイレ名：</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="name">最寄り駅：</label>
        <input type="text" id="station" name="station"/>
    </div>
    <div>
        <label for="name">説明文：</label>
        <input type="text" id="description" name="description"/>
    </div>
    <div>
        <label for="name">席数：</label>
        <input type="text" id="seatCount" name="seatCount"/>
    </div>
    <div>
        <input type="submit" value="登録" />
    </div>
</form>
<script type="text/javascript" src="/public/third_party/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/public/scripts/shop/regist/protect-double-submit.js"></script>
</body>
</html>